.clear-float {
	clear: both;
}
.register-box {
	/* border: 1px solid #000; */
	padding: 0 16px;
	border-radius: 8px;
	margin-top: 48px;
	box-shadow: 0 0 10px #ddd;
}
.logo {
	display: block;
	margin: 16px auto;
	margin-bottom: 28px;
}
.title {
	margin-top: 16px;
	text-align: center;
	font-weight: bold;
}
.register-btn {
	width: 100%;
	/* 设置line-height比设置height更好 */
	line-height: 24px; 
	/* height: 24px; */
	font-size: 17px;
	margin: 8px 0;
}
.to-login {
	float: right;
	padding-right: 0;
	margin-top: 8px;
}
.error-msg {
	/* 不设置block，margin不起作用 */
	display: block;
	float: right;
	color: #a94442;
	font-weight: bold;
}
/* 复写.form-control的right属性，因为验证码输入框右端的提示图标遮挡住验证码 */
.captcha_icon {
	/* 如果不加!important，就无法生效 */
	right: 96px !important;
}